In [1]:
import pandas as pd

In [5]:
# Sample dataset
data = {
    'Date': ['2025-06-01', '2025-06-01', '2025-06-02', '2025-06-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250]
}

df = pd.DataFrame(data)

df

         Date Product  Sales
0  2025-06-01       A    100
1  2025-06-01       B    150
2  2025-06-02       A    200
3  2025-06-02       B    250

In [6]:
# Pivot the dataset
pivot_df = df.pivot(index='Date', columns='Product', values='Sales')

pivot_df

Product       A    B
Date
2025-06-01  100  150
2025-06-02  200  250

In [11]:
df.groupby("Product").agg({"Sales": ["sum", "count"]})

        Sales
          sum count
Product
A         300     2
B         400     2

In [12]:
def is_prime(n):
    """Check if a number is prime."""
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3, int(n ** 0.5) + 1, 2):
        if n % i == 0:
            return False
    return True

In [13]:
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [14]:


# 1. Generate a synthetic multi-class classification dataset
X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, 
                           n_classes=3, n_clusters_per_class=1, random_state=42)

# 2. Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 3. Feature scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# 4. Convert to PyTorch tensors
X_train = torch.tensor(X_train, dtype=torch.float32)
y_train = torch.tensor(y_train, dtype=torch.long)  # Multi-class labels as Long
X_test = torch.tensor(X_test, dtype=torch.float32)
y_test = torch.tensor(y_test, dtype=torch.long)

# 5. Define the Neural Network for multi-class
class MultiClassModel(nn.Module):
    def __init__(self):
        super(MultiClassModel, self).__init__()
        self.network = nn.Sequential(
            nn.Linear(20, 64),
            nn.ReLU(),
            nn.Linear(64, 32),
            nn.ReLU(),
            nn.Linear(32, 3)  # 3 classes
        )

    def forward(self, x):
        return self.network(x)

# 6. Instantiate the model, define loss and optimizer
model = MultiClassModel()
criterion = nn.CrossEntropyLoss()  # For multi-class classification
optimizer = optim.Adam(model.parameters(), lr=0.001)

# 7. Training loop
epochs = 50
for epoch in range(epochs):
    model.train()
    optimizer.zero_grad()
    outputs = model(X_train)  # Raw logits
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()

    if (epoch + 1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}')

# 8. Evaluation
model.eval()
with torch.no_grad():
    outputs = model(X_test)
    _, predicted_classes = torch.max(outputs, 1)  # Get class with max logit
    accuracy = accuracy_score(y_test.numpy(), predicted_classes.numpy())
    print(f'Accuracy on test set: {accuracy * 100:.2f}%')

Epoch [10/50], Loss: 1.0378
Epoch [20/50], Loss: 0.9370
Epoch [30/50], Loss: 0.8087
Epoch [40/50], Loss: 0.6599
Epoch [50/50], Loss: 0.5240
Accuracy on test set: 83.50%